html,body{
  height: 100%;
  width: 100%;
}

body{
    background-color: rgb(255, 196, 0);
    color: white;
    flex-direction: column;
}
.container {
    display: flex;
    margin: 5%;
    justify-content: space-around;
}

@media (max-width:1024px){
  body{
    background-color:blueviolet;
  }
}

@media (max-width:600px){
  body{
    background-color:bisque;
  }
}

@media (max-width:480px){
  body{
    background-color:rgb(57, 31, 173);
  }
}

.spaced{
    line-height: 1.5em;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    position: relative;
    transition: all 500ms ease;
    text-align: left;
}
.title{
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    color: #f14e25;
}
.lead{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    color: #f14e25;
}
.left{
    width: 45%;
    height: 100%;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.39);
    border: 5px solid rgb(21, 122, 8);
  }
.right {
    width: 45%;
    height: 100%;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.39);
    border: 5px solid rgb(21, 122, 8);}
.pullquote{
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    color: #f14e25;
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.top{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    color: #f14e25;
}
p:hover {
    font-size: 24px;
    color:rgb(21, 122, 8);
    background-color: rgba(255, 255, 255, 0.671);
    border: #f14e25 solid 2px;
    border-radius: 5px;


